<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<style>

</style>
<body>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;left:0;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="{% url 'sidebar' %}" style="color: #354649;text-align: center;font-weight: bold"
       class="w3-bar-item w3-button">Acceuil</a>
    <span class="w3-bar-item" style="color: #6C7A89;text-align: center;font-weight: bold">Adhérentes</span>
    <a href="{% url 'registration' %}" class="w3-bar-item w3-button">Ajouter</a>
    <a href="{% url 'list' %}" class="w3-bar-item w3-button">Liste</a>
    <a href="{% url 'recherche' %}" class="w3-bar-item w3-button">Rechercher</a>
    <a href="{% url 'modif' %}" class="w3-bar-item w3-button">Modifier</a>
    <a href="{% url 'suppStudent' %}" class="w3-bar-item w3-button">Supprimer</a>
    <span class="w3-bar-item" style="color: #6C7A89;text-align: center;font-weight: bold">Professeurs</span>
    <a href="{% url 'addProf' %}" class="w3-bar-item w3-button">Ajouter</a>
    <a href="{% url 'listProf' %}" class="w3-bar-item w3-button">Liste</a>
    <a href="{% url 'rechercheProf' %}" class="w3-bar-item w3-button">Rechercher</a>
    <a href="{% url 'modifProf' %}" class="w3-bar-item w3-button">Modifier</a>
    <a href="{% url 'suppProf' %}" class="w3-bar-item w3-button">Supprimer</a>
</div>
<div class="w3-main" style="margin-left:200px">
    <div class="w3-teal">
        <button class="w3-button  w3-xlarge w3-left w3-hide-large" style="background-color: #A3C6C4"
                onclick="w3_open()">&#9776;
        </button>
        <div class="w3-container" style="background-color: #354649">
            <h1 style="color: white">ⵀⵉⵢⴰ ⵡⴰ ⵀⵓⵡⴰ ⵙⵉⵢⴰⵏ</h1>
        </div>
    </div>
    <div style="margin: 30px">
        <h1>Confirmation de modification</h1>
        <p>L'adhérente a été modifiée avec succès.</p>
        <p><a style="color: #A3C6C4" href="{% url 'modif' %}">Modifier une autre adhérente</a></p>
    </div>
</div>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
