<!DOCTYPE html>
<html>
<title>My App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
    .non-paye {
        background-color: rgba(255, 96, 96, 0.75);
    }

    .material-icons {
        vertical-align: -14%
    }

    /* Code CSS pour maintenir la taille des lignes lors de la modification */
    /*table.w3-table th,
    table.w3-table td {
        width: 150px; /* Définir la largeur de chaque cellule */
    /*min-width: 150px;
    max-width: 150px;
}*/


</style>
<body>
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;left:0;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="{% url 'sidebar' %}" style="color: #354649;text-align: center;font-weight: bold"
       class="w3-bar-item w3-button">Acceuil</a>
    <span class="w3-bar-item" style="color: #6C7A89;text-align: center;font-weight: bold">Adhérentes</span>
    <a href="{% url 'registration' %}" class="w3-bar-item w3-button">Ajouter</a>
    <a href="{% url 'list' %}" class="w3-bar-item w3-button">Liste</a>
    <a href="{% url 'recherche' %}" class="w3-bar-item w3-button">Rechercher</a>
    <a href="{% url 'modif' %}" class="w3-bar-item w3-button">Modifier</a>
    <a href="{% url 'suppStudent' %}" class="w3-bar-item w3-button">Supprimer</a>
    <span class="w3-bar-item" style="color: #6C7A89;text-align: center;font-weight: bold">Professeurs</span>
    <a href="{% url 'addProf' %}" class="w3-bar-item w3-button">Ajouter</a>
    <a href="{% url 'listProf' %}" class="w3-bar-item w3-button">Liste</a>
    <a href="{% url 'rechercheProf' %}" class="w3-bar-item w3-button">Rechercher</a>
    <a href="{% url 'modifProf' %}" class="w3-bar-item w3-button">Modifier</a>
    <a href="{% url 'suppProf' %}" class="w3-bar-item w3-button">Supprimer</a>
</div>
<div class="w3-main" style="margin-left:200px">
    <div class="w3-teal">
        <button class="w3-button  w3-xlarge w3-left w3-hide-large" style="background-color: #354649"
                onclick="w3_open()">&#9776;
        </button>
        <div class="w3-container" style="background-color: #354649">
            <h1 style="color: white">ⵀⵉⵢⴰ ⵡⴰ ⵀⵓⵡⴰ ⵙⵉⵢⴰⵏ</h1>
        </div>
    </div>
    <div class="w3-container">
        <h2 style="font-size: 35px; padding: 10px">Liste des professeurs</h2>

        <table class="w3-table w3-striped">
            <tr>
                <th>Nom Complet</th>
                <th>Matière</th>
                <th>Contact</th>
                <th>Nombre d'heures</th>
            </tr>
            {% for professeur in professeurs %}
                <tr>
                    <td>{{ professeur.nom }}</td>
                    <td>{{ professeur.get_matiere_display }}</td>
                    <td>{{ professeur.numTel }}</td>
                    <td>{{ professeur.nombre_heures }}</td>
                    <td>
                        <form action="{% url 'modifyProf' professeur.id %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="professeur_id" value="{{ professeur.id }}">
                            <button type="submit">Modifier</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>
<script>
    function editRow(button) {
        const row = button.closest('tr');
        const cells = row.querySelectorAll('td:not(:last-child)');
        cells.forEach(function (cell) {
            const text = cell.textContent;
            cell.innerHTML = `<input type="text" value="${text}">`;
        });
        button.style.display = 'none';
        row.querySelector('.save-button').style.display = '';

        // Ajuster la hauteur de la ligne pour conserver ses dimensions d'origine
        const rowHeight = row.offsetHeight;
        row.style.height = rowHeight + 'px';
    }


    function saveRow(button) {
        const row = button.closest('tr');
        const inputs = row.querySelectorAll('input[type="text"]');
        inputs.forEach(function (input) {
            const value = input.value;
            input.parentElement.textContent = value;
        });
        button.style.display = 'none';
        row.querySelector('.modify-button').style.display = '';
        // Envoyer les données modifiées au serveur (vous devrez implémenter cette fonctionnalité)
    }


</script>
<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>